<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site_name }}. Hello app</title>
</head>
<body>
    <h1>{{ site_name }}, welcomes you!</h1>
</body>
</html>